<% for journal in journals %>
  <div id="change-<%= journal.id %>" class="<%= journal.css_classes %>">
    <div id="note-<%= journal.indice %>">
    <h4>
      <%= journal.user.name %> 于 <%= I18n.l(journal.user.created_on) %> 更新
    </h4>

    <% if journal.details.any? %>
    <ul class="details">
      <% details_to_strings(journal.details).each do |string| %>
       <li><%= string %></li>
      <% end %>
    </ul>
    <% end %>
    <%= render_notes(issue, journal) unless journal.notes.blank? %>
    </div>
  </div>
  <%= call_hook(:view_issues_history_journal_bottom, { :journal => journal }) %>
<% end %>

<% heads_for_wiki_formatter if User.current.allowed_to?(:edit_issue_notes, issue.project) || User.current.allowed_to?(:edit_own_issue_notes, issue.project) %>
