
<h2><%= issue_heading(issue) %> <%= issue.subject %></h2>

<div class="<%= issue.css_classes %> details">
  <%= avatar(issue.author, :size => "50") %>

<table class="attributes">
<%= issue_fields_rows do |rows|
  rows.left '报告人', issue.author

  unless issue.disabled_core_fields.include?('start_date')
    rows.right l(:field_start_date), format_date(issue.start_date), :class => 'start-date'
  end
  rows.right '更新于', I18n.l(issue.updated_on)

  unless issue.disabled_core_fields.include?('assigned_to_id')
    rows.left l(:field_assigned_to), avatar(issue.assigned_to, :size => "14").to_s.html_safe + (issue.assigned_to ? issue.assigned_to : "-"), :class => 'assigned-to'
  end

  rows.left l(:field_status), h(issue.status.name), :class => 'status'
  rows.right l(:field_priority), h(issue.priority.name), :class => 'priority'

  # unless issue.disabled_core_fields.include?('category_id')
  #   rows.left l(:field_category), h(issue.category ? issue.category.name : "-"), :class => 'category'
  # end
  # unless issue.disabled_core_fields.include?('fixed_version_id')
  #   rows.left l(:field_fixed_version), (issue.fixed_version ? link_to_version(issue.fixed_version) : "-"), :class => 'fixed-version'
  # end

  # unless issue.disabled_core_fields.include?('due_date')
  #   rows.right l(:field_due_date), format_date(issue.due_date), :class => 'due-date'
  # end
  # unless issue.disabled_core_fields.include?('done_ratio')
  #   rows.right l(:field_done_ratio), progress_bar(issue.done_ratio, :width => '80px', :legend => "#{issue.done_ratio}%"), :class => 'progress'
  # end
  # unless issue.disabled_core_fields.include?('estimated_hours')
  #   unless issue.estimated_hours.nil?
  #     rows.right l(:field_estimated_hours), l_hours(issue.estimated_hours), :class => 'estimated-hours'
  #   end
  # end
  # if User.current.allowed_to?(:view_time_entries, @project)
  #   rows.right l(:label_spent_time), (issue.total_spent_hours > 0 ? (link_to l_hours(issue.total_spent_hours), {:controller => 'timelog', :action => 'index', :project_id => @project, :issue_id => issue}) : "-"), :class => 'spent-time'
  # end
end %>
<%= render_custom_fields_rows(issue) %>
</table>

<% if issue.description? || issue.attachments.any? -%>
<% if issue.description? %>
  <hr />
  <div class="wiki">
  <%= textilizable issue, :description, :attachments => issue.attachments %>
  </div>
<% end %>
<% end -%>


</div>

<% @changesets = issue.changesets %>
<% @journals = issue.journals %>

<% if @changesets.present? %>
<div id="issue-changesets">
<h3><%=l(:label_associated_revisions)%></h3>
<%= render :partial => 'changesets', :locals => { :changesets => @changesets} %>
</div>
<% end %>

<% if @journals.present? %>
<div id="history">
<h3><%=l(:label_history)%></h3>
<%= render :partial => 'history_flatten', :locals => { :issue => issue, :journals => @journals } %>
</div>
<% end %>


<div style="clear: both;"></div>

